* {
  border: none;
}

img {
  background-color: #acacac;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
}

h1 {
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: 0px 0px 0px #b9b9b9;
}

h1:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 1px 1px 20px #5a5a5a;
}

.formSection {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  border-radius: 7px;
  background-color: #407a6c;
  box-shadow: 1px 1px 10px #5a5a5a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: fit-content;
}

fieldset label {
  font-style: oblique;
}

input {
  border-radius: 7px;
}

form button {
  background-color: #407a6c;
  color: #ffffff;
  box-shadow: 2px 2px 4px #5a5a5a;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-top: 2rem;
  padding: 1rem;
}

button:active {
  background-color: #2c5e52;
  box-shadow: 0px 0px 0px;
}

@media (max-height: 500px) {
  form {
    flex-direction: row;
    gap: 1rem;
  }
  img {
    left: 0;
  }
}

@media (max-width: 600px) {
  .formSection {
    flex-direction: column;
  }
}
